<!doctype html>
<title>¿Who Knows? - Sign Up</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<div class="page">
  <div class="navigation">
    <nav>
      <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
      <a id="nav-login" href="/login">Log in</a>
      <a id="nav-register" href="/register">Register</a>
    </nav>
  </div>

  <div class="body">
    <h2>Sign Up</h2>
    {{if .Error}}
    <div class="error"><strong>Error:</strong> {{.Error}}</div>
    {{end}}
    <form action="/api/register" method="POST">
      <dl>
        <dt>Username:
        <dd><input type="text" name="username" size="30" value="{{.Username}}">
        <dt>E-Mail:
        <dd><input type="text" name="email" size="30" value="{{.Email}}">
        <dt>Password:
        <dd><input type="password" name="password" size="30">
        <dt>Password <small>(repeat)</small>:
        <dd><input type="password" name="password2" size="30">
      </dl>
      <div class="actions"><input type="submit" value="Sign Up"></div>
    </form>
  </div>

  <div class="footer">
    <span>¿Who Knows? &copy; 2009</span>
    <a href="/about">About</a>
  </div>
</div>
