<!doctype html>
<title>¿Who Knows?</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<div class="page">
  <div class="navigation">
    <nav>
      <h1><a id="nav-logo" href="/">¿Who Knows?</a></h1>
      <a id="nav-login" href="/login">Log in</a>
      <a id="nav-register" href="/register">Register</a>
    </nav>
  </div>

  <div class="body">
    <div>
      <input id="search-input" placeholder="Search..." value="{{.Query}}" />
      <button id="search-button" onclick="makeSearchRequest()">Search</button>
    </div>

    <div id="results">
      {{range .Results}}
      <div>
        <h2><a class="search-result-title" href="{{.URL}}">{{.Title}}</a></h2>
        <p class="search-result-description">{{.Description}}</p>
      </div>
      {{end}}
    </div>
  </div>

  <div class="footer">
    <span>¿Who Knows? &copy; 2009</span>
    <a href="/about">About</a>
  </div>
</div>

<script>
  let searchInput;

  document.addEventListener("DOMContentLoaded", () => {
    searchInput = document.getElementById("search-input");
    searchInput.focus();

    searchInput.addEventListener("keypress", (event) => {
      if (event.key === "Enter") {
        makeSearchRequest();
      }
    });
  });

  function makeSearchRequest() {
    const query = searchInput.value;
    const url = new URL(window.location.href);
    url.searchParams.set("q", query);
    window.location.href = url.toString();
  }
</script>
