<!doctype html>
<html>
  <head>
    <title>Search</title>
  </head>
  <body>
    <div>
      <form method="GET" action="/">
        <!-- GET-metode + endpoint "/", fordi søgning kun læser data -->
        <input
          id="search-input"
          name="q"
          placeholder="Search..."
          value="{{ .Query }}"
        />
        <!-- name="q" sendes som URL-parameter, value viser sidste søgning -->
        <button type="submit">Search</button>
        <!-- Sender formularen af sted uden JS -->
      </form>
    </div>

    <div id="results">
      {{ range .Results }}
      <!-- Looper igennem .Results-listen fra Go -->
      <div>
        <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
        <!-- Titel som klikbart link til resultatets URL -->
        <p>{{ .Description }}</p>
        <!-- Kort beskrivelse af resultatet -->
      </div>
      {{ end }}
      <!-- Slutter loopet -->
    </div>
  </body>
</html>
